

<!DOCTYPE html>
<html>
    {% load static %}

    <head>
        <title>{% block page_title %}{% endblock page_title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}">
        <script src="js/script.js"></script>
        <link rel="icon" href="{% static 'images/pets.ico' %}" type="image/x-icon">
    </head>

    <body>

        <header>
            <nav>
                <ul>
                    <!-- <li><a href="{% url 'home' %}">HOME</a></li> -->
                    <li><a href="{% url 'voiture' %}">VOITURE</a></li>
                    <!-- <li><a href="{% url 'cle' %}">CLE</a></li> -->
                    <li><a href="{% url 'garage' %}">GARAGE</a></li>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">PROFILE</a></li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                    <li><a href="{% url 'signup' %}">SIGNUP</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block document_body %}
            <div id=document-container>{% block document_container %}{% endblock document_container %}</div>

            <footer id=document-footer>FIPA 2024</footer>
        {% endblock document_body %}

    </body>
</html>


