
{% extends "base.html" %}

{% block page_title %}Garage{% endblock page_title %}




{% block document_container %}


<div class="page">

    <h1>garage</h1>

    
    <form method="post">
        {% csrf_token %}
        {{ form_add.as_p }}
        <button type="submit" name="form_add">Submit</button>
    </form>

    <form method="post">
        {% csrf_token %}
        {{ form_edit.as_p }}
        <button type="submit" name="form_edit">Submit</button>
    </form>

    <form method="post">
        {% csrf_token %}
        {{ form_delete.as_p }}
        <button type="submit" name="form_delete">Submit</button>
    </form>
   
    
    

</div>



{% endblock document_container %}
