
{% extends "base.html" %}

{% block page_title %}Garage{% endblock page_title %}




{% block document_container %}


<div class="page pageAsRow">
    <div class="login-container">
        <h2>Ajouter un garage</h2>

        {% if messages %}
                {% for message in messages %}
                    {% if "form_add" in message.tags%}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endif%}
                {% endfor %}
        {% endif %}


        <form method="post" class="form-fields" >
            {% csrf_token %}
            {{ form_add.as_table }}
            <button type="submit" name="form_add">Submit</button>
        </form>
    </div>

    <div class="login-container">
        <h2>Modifier un garage</h2>

        {% if messages %}
            {% for message in messages %}
                {% if "form_edit" in message.tags%}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}


        <form method="post" class="form-fields" >
            {% csrf_token %}
            {{ form_edit.as_table }}
            <button type="submit" name="form_edit">Submit</button>

        </form>
    </div>

    <div class="login-container">
        <h2>Supprimer un garage</h2>

        {% if messages %}
            {% for message in messages %}
                {% if "form_delete" in message.tags%}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}


        <form method="post" class="form-fields" >
            {% csrf_token %}
            {{ form_delete.as_table }}
            <button type="submit" name="form_delete">Submit</button>
        </form>
    </div>
    
    

</div>



{% endblock document_container %}
