
{% extends "base.html" %}

{% block page_title %}Garage{% endblock page_title %}




{% block document_container %}


<div class="page">

    <h1>garage</h1>

    
    {% if garages %}
        <table>
            <tr>
                <th>
                    Liste Garages
                </th>
            </tr>
            {% for garage in garages %}
                <tr><td>{{ garage.nom }}</td></tr>
            {% endfor %}

        </table>

    {% endif %}
    
    

</div>



{% endblock document_container %}
