
{% extends "base.html" %}
{% load static %}
{% block page_title %}Profil{% endblock page_title %}






{% block document_container %}

<img src="{% static 'images/messi.jpg' %}" alt="My Image">


<h1>Profil : {{ user.username }}</h1>
<p> 
    Location: {{ profile.location }}
    user : {{ profile.user.username }}
    profile.user : {{ user.username }}
</p>

    {% if profile.profile_picture %}
        <p>picture</p>
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
        <img src="default.jpeg" alt="Profile Picture">

    {% else %}
        <img src="https://via.placeholder.com/150" alt="Profile Picture">
    {% endif %}




{% endblock document_container %}
