
{% extends "base.html" %}
{% load static %}
{% block page_title %}Profil{% endblock page_title %}






{% block document_container %}
<div class="page">

    <div class="profile-container">
        {% if profile.profile_picture %}
            <img src="{{ profile.profile_picture }}"  alt="Profile Picture" class="profile-picture">
        {% else %}
            <img src="/static/images/default.jpeg"  alt="Profile Picture" class="profile-picture">
        {% endif %}
        <h1 class="name">{{ user.username }}</h1>
        {% if user.email %}
            <p class="email">{{ user.email }}</p>
        {% endif %}
        {% if profile.location  %}
            <p class="email">{{ profile.location }}</p>
        {% endif %}
    </div>
      
</div>
{% endblock document_container %}
