{% extends "base.html" %}

{% block page_title %}voiture{% endblock page_title %}






{% block document_container %}
<div class="page">

    <div class="login-container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

        {% if voitures %}
            <table>
                <thead>
                    <tr>
                        <th>Couleur</th>
                        <th>Immatriculation</th>
                        <th>Marque</th>
                        <th>Modèle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for voiture in voitures %}
                        <tr>
                            <td>{{ voiture.couleur }}</td>
                            <td>{{ voiture.immatriculation }}</td>
                            <td>{{ voiture.marque }}</td>
                            <td>{{ voiture.modele }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}


    </div>

</div>



{% endblock document_container %}
